.navigation_bar {
    height: 3rem;
    background: linear-gradient(to right, #CDB7A7, #FFFFFF);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 130px 0px 90px;
    opacity: 0.9;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    margin-top: 15px;
}

.list ul {
    width: 100%;
    display: flex;
    gap: 40px;
    list-style-type: none;
    cursor: pointer;
}